
.container {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 500px;

}

.top-bar{
    flex: 2;
    background-color:skyblue
}

.bottom-bar {
    flex: 5;
    background-color:aliceblue;
}

#pic {
    height: 55px;
    width: 55px;
    position: relative;
    top: 30px;
    left: 20px;
}

h2 {
    position:relative;
    top:10px;
    left:20px;
}

ul {
    list-style-type:none;
    font-size:15px;
}

.icon {
    height:  15px;
    width:15px;
}

.edit {
    display: flex;
}

p {    
    color:blue;
    text-decoration:underline;
    position:relative;
    left: 5px;
    bottom: 15px;}


