
.container {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 500px;

}
.pfp {
    flex:1;
}

h1 {
    color:blue;
    flex: 2
}
img {
    height:  15px;
    width:15px;
}

#pic {
    height: 80px;
    width: 80px;
}
.content {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex:1;
}

.tagline {
    display:inline-block;
    height: 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#edit {
    color:blue;
    text-decoration:underline;
}

#map {
    display: inline;
}
