.container{
    width: 1150px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    margin: 20px;
    height: 150px;
    background-color: green;
    vertical-align:middle;
}
.side-nav {
    display: inline-block;
    height: 300px;
    width: 170px;
    background-color: blue;
}
.main {
    display: inline-block;
    height: 400px;
    width: 750px;
    background-color: red;
}
.sub-content {
    display: inline-block;
    height: 180px;
    width: 180px;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 630px;
    background-color: purple;
}

div {
    margin: 20px;
}