

/*  wildcard clear*/
* {
    margin:0;
    padding:0;
}

/*  Main Container*/
.container {
    margin:0;
    padding:0;
    background-color:rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
}
/* Nav is a direct child of container*/
.nav {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(15, 15, 15);
    height:40px;


}

.navMid {
    margin-left:auto;
    margin-right:auto;
    width: 55%; 
    display:flex;
    justify-content: space-around;
    position:relative;
    left: 15px;
}

.nav-links {
    font-size: 12px;
    display:flex;
    list-style-type:none;
    align-items: center;
    gap:16px;
    

}

.nav-links li {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-links h1{
    margin-left: 10px;
    color:white;
    font-size:medium;
    align-items: center;
}
    
.nav button{
    background-color:rgb(14, 209, 209);
    box-shadow: black 2px 2px;
    color:white;
    font-size:15px;
    border: 2px black;
    border-style:solid;
    width:100px;
    height: 90%;
    margin-left:30px;
    
}
/* Main content is a direct child of container*/
/* Container itself is not display flexed*/
.mainContent{
    display:flex;
    margin: 20px; 
    justify-content:center;
    background-color:rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* mainContent is flexed into two columns*/
.colA{
    width: 30%;
    background-color:rgb(255, 255, 255);
    text-align:center;
}

/* colA contains 2 boxes, userCard and education */
.userCard {
height: 30vh;
background-color: rgb(117, 155, 155);
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom:30px;
width: 80%;
border-style:solid;
border-color:rgb(192, 192, 192);
border-width:2px;
}

/* userCard is divided into top-strip and bottom-strip*/
/* top-strip pretty much only has the generic userpic*/
.top-strip{
    background-color:rgb(129, 177, 250);
    text-align:left;
    height: 25%;
}

.top-strip img{
    height: 55px;
    width: 55px;
    position: relative;
    top: 40px;
    left: 20px;
}
/* bottom-strip contains all the info, like name and tagline*/
.bottom-strip {
    height: 75%;
    background-color:rgb(236, 242, 255);
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:7px;
    padding-left:20px;
}

.bottom-strip img {
    height: 15px;
    width:15px;
}

.tagline {
    font-size:16px;
    gap:4px;
}

.bottom-strip .prof {
    color:blue;
    text-decoration:underline;
}
.map, .prof {
    display:flex;
}

/* Education is the second box in Column A*/
.education {
width:  80%;
height: 24vh;
background-color:rgb(236, 242, 255);
margin-left: auto;
margin-right: auto;
border-style:solid;
border-color:rgb(134, 134, 134);
border-width:2px;
display:flex;
flex-direction:column;
gap:20px;

}

.education h3 {
    background-color: gray;
    color:#e3e3e3;
    text-align:left;
    padding-left:20px;
    padding-top:10px;
    height:40px;
    margin-top:auto;
    border-style:solid;
    border-color:rgb(155, 155, 155);
    border-width:2px;
}

/* IDs to identify the different lines in education*/
#stack {
    font-size:24px;
    text-align:left;
    padding-left:20px;
    font-weight: bold;
    height:30px;
}

#date {
    font-size:15px;
    text-align:left;
    padding-left:20px;
    padding-top:20px;

}

#cred {
    font-size:20px;
    text-align:left;
    padding-left:20px;
}

/* colB is a division of mainContent, and colB has two divs, connectionRequests and yourConnections*/
.colB{
    width:15%;
    background-color: rgb(255, 255, 255);
    text-align:center;
    padding-top:12px;

}
/* connectionRequests is the first box in colB */
#connectionRequests {
    width:  95%;
    height:  20vh;
    background-color:rgb(236, 242, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom:10px;
    border-style:solid;
    border-color:rgb(180, 180, 180);
    border-width:2px;
    display:flex;
    flex-direction:column;
    gap: 15px;
    }



/* we reuse the styling for the headers*/
.connectionHeader, .myFriendsHeader {
    display:flex;
    background-color:gray;
}

.connectionHeader {
    height: 40px; 
    font-size:16px;
    gap:3px;
    align-items:center;
}
/* we reuse the most of the styling for the number of reqs/friends n both boxes */
#reqNumber, #friendNumber {
    font-size:20px;
    border-style:solid;
    border-width:3px;
    border-radius:50%;
    color:rgb(78, 78, 78);
    background-color:aliceblue;
    height:30px;
    width:40px;
}

.myFriendsHeader  >#friendNumber  {
    width:50px;
    border-radius:90%;
}

/* we reuse the styling for the headers*/
.row {
    display:flex;
    justify-content:space-between;
}

/*pfps need to be next to text, reuse */

.requestsPFP, .friendsPFP{ 
    display:flex;
}

.friendsPFP {
    gap:15px;
}

/* we reuse the styling for PFPs in both boxes */

.requestsPFP img, .friendsPFP img {
        height:35px;
        width:35px;
        border-style:solid;
        border-radius:50%;
        border:4px;
        padding-left:5px;
        }
        
.acceptClose img { 
        height:30px;
        width:30px;
    }
    
/* yourConnections is the second box in colB */

#yourConnections {
    width:  95%;
    height: 40vh;
    color:rgb(15, 1, 1);
    background-color:rgb(236, 242, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom:10px;
    border-style:solid;
    border-color:rgb(206, 205, 205);
    border-width:2px;
    display:flex;
    flex-direction:column;
    gap:15px;
    }

    .myFriends {
        display:flex;
        flex-direction:column;
        gap:22px;
    }

.myFriends {
    display:flex;
    flex-direction:column;
}

#more {
    border-style:solid;
    border-color:rgb(173, 173, 173);
    border-width:1px;
    margin-top:21px;
}