
img {
    height: 200px;
    margin: 5px;
}

.container {
    width: 700px;
    display:flex;
    flex-direction:column;
    background-color:rgb(199, 197, 197);

}

h1, p{
    display:block;
    text-align: center;
}

.row {
    height: 225px;
    margin: 15px;
    display:flex;    
    justify-content:space-around;

}

#first {
    background-color:rgb(194, 68, 68);
}

#second {
    background-color:rgb(67, 204, 204);
}

#third {
    background-color:rgb(131, 201, 62)
}


