
img.octocat {
    height: 200px;
}

.container {
    width: 800px;
    display:flex;
    flex-direction:column;
    background-color:gray;
    justify-content: center;

}

h1 {
    display:block;
}

.row {
    height: 150px;
    width: 500px;

}

#first {
    background-color:rgb(105, 59, 59);
}

#second {
    background-color:aqua;
}

#third {
    background-color:chartreuse
}

